################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/BackstoryDatabase
/BackstoryDatabase/bin/Debug
/BackstoryDatabase/obj
